.asistencia-contenedor {
  padding: 20px;
}

h2 {
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

.registro-asistencia-info-contenedor {
  background-color: #705bda2a;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.semana-horario-contenedor {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 250px;
}

.semana-info, .horario-info {
  width: 45%;
}

.lista-estudiantes {
  list-style-type: none;
  padding: 0;
}

.estudiante-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.estudiante-checkbox {
  margin-left: 10px;
}

.registrar-button {
  display: block;
  width: 100%;
  margin-top: 10px;
}