.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.tableContainer {
  width: 100%;
  max-width: 800px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #715BDA;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #5848b5;
}

.modal-footer-custom .modal-button {
  width: 80px;
  margin: 0 10px;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
